.container.tags {
	background: #f5f5f5;
}
.container.tags .page {
	width: 80%;
	margin: 0 auto;
}
.container.tags .post-list {
	background: #fff;
    padding: 30px 60px;
}
.container.tags .post-list .entry-date {
	float: right;
	color: #ddd;
}
.tags a {
    padding: 2px 8px;
    border-radius: 10px;
    margin: 4px;
    font-weight: 400;
    line-height: 34px;
}
.tags a:hover {
    box-shadow: none;
    background: #CDDC39;
    color: #fff;
    /*font-weight: 600;*/
}