---
layout: default
<!-- ephitaphy: Память — писарь нашей души &nbsp;&rarr; -->
<!-- title: Black Hole -->
---
<p class="page-intro one-three col">Ещё рано — ещё так многое по плечу, не&nbsp;взяла кредитов, не&nbsp;родила детей. Не&nbsp;наелась дерьма по самое не хочу, не&nbsp;устала любить людей.</p>
<!-- 
{% include rubrikator.html %}
-->

<section>
  <!-- {% for post in site.categories[page.categories] %} -->
  {% for post in site.categories.Всячина %}
    <!-- <i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date}}</time>  -->
    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    <!-- <span class="category"><i class="icon-tag"></i> {{post.categories}}</span> -->
  {% endfor %}
</section>