---
layout: default
<!-- title: Black Hole -->
---
<div class="border-top orange"></div>

<p class="quote">
  <quote>Память — писарь нашей души.</quote>
</p>
<hr>
<p class="">
  Ты становишься на углу оживленной улицы и представляешь, что тебя здесь нет. Вернее, тебя нет вообще. Пешеходы идут, сигналят машины, открываются двери магазинов, сменяются пассажиры на остановке. То есть в принципе мир продолжает жить и без тебя.
Понимать это больно. Но важно.
</p>

<hr>
<div class="contacts">
  <p><i>Кусочки меня в хронологическом порядке:</i></p>
  <ul>
    <li><a href="https://vk.com/id8810854">Vk</a>&nbsp;<span>2009</span></li>
    <li><a href="https://www.flickr.com/photos/42942234@N05/">Flickr</a>&nbsp;<span>2009-2011</span></li>
    <li><a href="http://smallalenka.blogspot.ru/">Blogspot</a>&nbsp;<span>2009-2012</span></li>
    <li><a href="http://www.icq.com/people/380522540/ru">Icq</a>&nbsp;<span>??-2009</span></li>
    <li><a href="http://alenka-small.livejournal.com/">Livejournal</a>&nbsp;<span>2009-2013</span></li>
    <li><a href="http://www.last.fm/user/alenka_chyda">LastFm</a>&nbsp;<span>2008-current</span></li>
    <li><a href="http://www.kinopoisk.ru/mykp/movies/list/type/48269/">Kinopoisk</a>&nbsp;<span>current</span></li>
    <li><a href="https://music.yandex.ua/users/alyona.chornaya/playlists">Yandex.Music</a>&nbsp;<span>current</span></li>
    <li><a href="http://taaasty.com/~changename1390667">Taaasty</a>&nbsp;<span>current</span></li>
    <li><a href="https://www.instagram.com/al_chornaya/">Instagram</a>&nbsp;<span>current</span></li>
    <li><a href="https://www.facebook.com/alenka.chornaya">Facebook</a>&nbsp;<span>current</span></li>
    <li><a href="https://ua.linkedin.com/in/alenka-chornaya-31b12b8a">Linkedin</a>&nbsp;<span>current</span></li>
    <li><a href="callto://al.chornaya">Skype</a>&nbsp;<span>current</span></li>
    <li><a href="mailto://a.chornaya@gmail.com">Gmail</a>&nbsp;<span>current</span></li>
    <li><a href="https://twitter.com/chornaya_a">Twitter</a>&nbsp;<span>current</span></li>
    <li><a href="http://vk.com/huy_muzey">Vk</a>&nbsp;<span>current</span></li>
  </ul>
</div>
<!-- <h1 class="message">Тополь должен топать, орел - орать, а радуга - радовать:</h1> -->
<!-- <div>
  {% for post in site.categories.[page.category] %}
     <span class="post-category"><a href="">{{ post }}</a></span>
  {% endfor %}
</div> -->

<!-- moved to the blog page -->
<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <span class="post-date"><a href="">{{ post.category }}</a></span>
     {{ post.content }}
  </div>
  {% endfor %}
</div> -->
<!-- moved to the blog page -->

<!-- <div class="pagination">
  {% if paginator.posts %}
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
      {% else %}
        <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  {% endif %}
</div> -->