/*.sidebar {
  background-color: #f9f9f9;
  color: #272727;
  background-image: linear-gradient(#4C596C, transparent 1px);
  background-size: 1.5em 1.5em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2), -1px -1px 2px rgba(0, 0, 0, .2);
}

.sidebar:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 4px;
  border-left: 4px double #F54318;
  position: relative;
  left: 40px;
}*/

/* General rules */
*, *:before, *:after {
    box-sizing: inherit;
}
*:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: none;
}
.cf:after {
  content: "."; /* добавить содержимое: "." */
  display: block;  /* сделать блоком, т.к. inline не может иметь clear */
  clear: both;  /* с обеих сторон clear */
  visibility: hidden; /* сделать невидимым, зачем нам точка внизу? */
  height: 0;  /* сделать высоту 0, чтобы не занимал место */
}
html, body {height:100%;}
body {
    padding: 0;
    margin: 0;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    /*background-color: #F8F8F8;*/
}
.hide {
	display: none;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.light {
    font-weight: 200;
}
.bold {
    font-weight: 800;
}
.align-top {
    vertical-align:top;
}
/* Headers */
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    /* letter-spacing: -.025rem; */
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.4;
    color: #222;
}
h2 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
h3 {
    font-size: 26px;
    margin-top: 20px;
    color: #333;
}

/* Subheader */
h6 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: -10px;
    color: #7e7e7e;
    letter-spacing: 2px;
}
.subheader {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a;
}
.back {
    /*margin-top: 40px;*/
    margin: 0;
    /*padding: 0px;*/
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    /*color: #7e7e7e;*/
    letter-spacing: 2px;
}
/* Lists */
ul, dl {
    list-style-type: none;
}
ul:not(.related, .nav) li:before {
    content: "\2014\00A0 ";
}
.nav>li:before {
    content: '';
}
details ul li:before {
    color: #1d92cf;
}
/* Links */
a, summary, .back {
    color: #1d92cf;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}
a:hover, a:focus {
    color: #197eb2;
}

/* Text */
p {
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-rendering: optimizeLegibility;
    color: #222222;
}
 p.underhead {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px; /* TEST */
    color: #333; /* TEST */
 }

/* Pics & Icons etc. */
img {
    /*width: 100%;*/
    height: auto;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
p img {
    width: 50%;
    float: left;
}
/* Pages and blocks */
.wrap {
    /*padding: 0 2rem;*/
    /*background-color: #F8F8F8;*/
}
.page-intro {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #777;
    margin-bottom: 4rem;
    font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;

    font-style: italic;
    margin-left: 4rem;
}
.page-intro:first-letter {
    color: #197eb2;
    font-size: 1.25rem;
}
.post .source {
    color: #aaa;
    font-style: italic;
    border: 1px dotted #aaa;
    padding: 15px;
}
/* for ex. Category name */
.type-label {
    font-family: "Proxima Nova Condensed Bold","Proxima Nova Condensed","proxima-nova-condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #2CADBE;
    color: #645d52;
}

.hover-block {
    margin-bottom: 2rem;
    border-radius: 3px;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    transition: all .25s ease-in-out;
}
.hover-block:hover {
    background: #f8f8f8;
    transition: all .25s ease-in-out;
}

/* Details hidden block */
details summary::-webkit-details-marker {
  display: none;
}
details summary:before {
    content: " + ";
}
details[open] summary:before {
    content: " • ";
    /*content: " ¬ ";*/
}

/* Coliumns and grid */
.col, .columns {
    width: 100%;
    float: left;
}
.col {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.triple-p p+p {
    padding-left: 15px;
}
.triple-p p {
    width: 32%;
    float: left;
}
.one-two {
    width: 50%;
}
.one-three {
    width: 33.33333%;
}
.one-four {
    width: 25%;
}
.one-five {
    width: 20%;
}

/* General style rules, colors and beautifies */
.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
.row::before, .row::after {
    content: ' ';
    display: table;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.row::after {
    clear: both;
}

/* TEST */
.separator-block {
    background: #f4f7f8;
    padding: 80px 0 90px 0;
}

.sidebar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    border-bottom: 1px dotted #ddd;
}
.sidebar .logo,
.sidebar .sidebar-nav {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    align-items: center;
    padding: 1rem;
}
.sidebar .logo p {
    height: 45px;
    overflow-x: hidden;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
    /*list-style-position: outside;*/
}
.border-top {
    position: absolute;
    z-index: 2;
    top: -60px;
    left: 0;
    right: 0;
    height: .5em;
    background: #222;
}
    .yellow {
        background: #FFEB3B;
    }
    .gold {
        background: darkgoldenrod;
    }
    .orange {
        /*background: #f43c12;*/
    }
    .red {
        background: #F44336;
    }
    .salat {
        background: #CDDC39;
        background: #202020;
    }
    .green {
        background: #4CAF50;
    }
    .blue {
        background: #2196F3;
    }
    .darkblue {
        background: #074e68;
    }

/* Rubrikator */
#rubrikator > div {
    display: inline-flex;
    position: relative;
    justify-content: center;
    margin: .25rem;
    font-size: 1.5em;
    overflow: hidden;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap-reverse;
    flex-flow: row-reverse wrap-reverse;
}

.flex-item {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

/*new*/
.wrap .section {
    padding: 0 2rem;
    max-width: 1000px;
    /*background-color: #F8F8F8;*/
}
.wrap .section.word,
.wrap .section.post {
    margin: 0 auto;
}
.wrap .section.main-categories {
    white-space: nowrap;
    margin: 0 auto;
    /*margin-top: 45px;*/
    padding: 0;
    min-width: 670px;
    left: 0;
    right: 0;
}
.main-categories ul {
    margin: 0;
    padding: 0;
    white-space: normal;
}
.main-categories ul li {
    width: 32%;
    display: inline-flex;
}
.wrap .section.main-categories, .main-categories h1 {
    margin-top: 60px;
}
.category-img {
    position: relative;
    vertical-align: top;
    padding-top: 13px;
}
.category-img .category-icon {
    width: 56px;
    height: 56px;
    background-size: cover;
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='-31 -13 56 56'%3E%3Cpath fill='%23F00' d='M5.3-7.1h-7c-6.9 0-12.7 5-12.7 15 0 5.9 2.9 10.2 7.8 12.5L-16 36.8c-.2.6 0 1 .6 1h4.4c.4 0 .6-.2.7-.4l8.5-16.2h3v16.2c0 .2.2.4.4.4h3.8c.4 0 .6-.2.6-.4V-6.5c0-.4-.2-.6-.7-.6zM1.2 17.3h-2.6c-4.1 0-7.9-2.9-7.9-10C-9.4 0-5.7-3.2-2-3.2h3.2v20.5z'/%3E%3C/svg%3E");*/
}
.category-img .category-icon.icon-news {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='-392 270.3 56 56'%3E%3Cpath fill='%23C6C3B9' d='M-381 312.3l27.2 8.4v-8.4'/%3E%3Cpath fill='%23DDDAD3' d='M-381 276.3h34v36h-34z'/%3E%3Cpath fill='%23222' d='M-375 281.3h22v6h-22z'/%3E%3Cpath fill='%23F00' d='M-375 291.3h10v15h-10z'/%3E%3Cpath fill='%23222' d='M-363 297.3h10v3h-10zm0-6h10v3h-10zm0 12h10v3h-10z'/%3E%3C/svg%3E");*/
    background-image: url("../icons/lightbulb_idea.png");
}
.category-img .category-icon.icon-images {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3E%3Cpath fill='%23FC0' d='M9 13h40v30H9z'/%3E%3Ccircle fill='%23E00' cx='19' cy='24' r='4'/%3E%3Cpath fill='%23393837' d='M9 43l10-10 5 5 10-10 15 15'/%3E%3C/svg%3E");*/
    background-image: url("../icons/image.png");
}
.category-img .category-icon.icon-quotes {
    background-image: url("../icons/notes.png");
}
.category-img .category-icon.icon-cube {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56'%3E%3Cpath fill='%234B82D7' d='M56 56H0V0h56v56zM11.9 44.1h32.3V11.9H11.9v32.2z'/%3E%3C/svg%3E");*/
    background-image: url("../icons/ruler.png")
}
.category-img .category-icon.icon-cloud {
    background-image: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/cloud.png");
}
.category-img .category-icon.icon-slovar {
    /*background-image: url("http://icon-icons.com/icons2/152/PNG/128/dictionary_21800.png");*/
    background-image: url("../icons/book.png")
}
.category-img .category-icon.icon-past {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='56' height='56' viewBox='0 0 56 56' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none'%3E%3Cpath d='M22.11 10.603c-5.695 1.557-8.87 5.643-10.756 11.734-1.193 3.853-3.733 6.266-3.733 6.266l17.94-5.06 17.76-4.806c-.02 0-3.136-.68-6.08-3.425-4.66-4.32-9.43-6.246-15.126-4.71z' fill='%23000'/%3E%3Cpath d='M55.692 24.166c-1.56-5.837-15.24-7.22-30.58-3.113C9.777 25.178-1.385 33.35.172 39.21c1.08 4.066 7.988 5.992 17.245 5.39-.385-.35-.635-.74-.77-1.227-.847-3.19 4.773-6.48 12.143-8.465 7.37-2.004 13.816-1.887 14.644 1.207.134.486.096.953-.058 1.46 8.352-4.165 13.413-9.322 12.316-13.41z' fill='%234981D7'/%3E%3Cpath d='M31.348 44.58c7.43-2.005 12.97-5.39 12.163-8.504-.804-3.114-7.29-3.23-14.72-1.226-7.43 2.004-12.99 5.37-12.16 8.504.828 3.152 7.294 3.25 14.72 1.225z' fill='%23E7E7E7'/%3E%3C/g%3E%3C/svg%3E");*/
    background-image: url("../icons/clip.png")
}
.category-title {
    padding: 20px 20px 28px 13px;
    vertical-align: top;
}
.category-title p {
    line-height: 1;
    margin: 0;
    padding: 0;
}
.category-intro {
    font-size: 14px;
    color: #000; 
}
.pages-list li {
    display: inline-block;
    text-align: left;
}
/* POST */
article {
    /*background-color: #F8F8F8;*/
    background-color: #FeFeFe;
}
.post-head {
    /*text-align: right;*/
}
.post-head h1 {
    /*text-align: left;*/
}
.post-date {
    color: #ccc;
    float: right;
    /*margin-left: -88px;*/
}
.tag {
    color: #268bd2;
    padding: 5px;
    font-style: italic;
}
blockquote {
/*    background: none;
    border: none;
    padding: 0;
    font-size: 1.25em;
    display: inline;*/
    margin: 30px 0;
    padding: 0 15px;
    border-left: 4px solid #00bce7;
}
blockquote p {
    /*border-width: 2px;
    border-style: solid;
    border-color: #00bce7;
    padding: 10px 20px;
    color: #2196F3;
    display: inline-block;
    clear: both;
    line-height: 1;*/
    padding: 15px 0;
    margin: 0;
}
blockquote+span {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: .5;
    text-align: right;
    background: none;
    color: #aaa;
    margin-bottom: 25px;
}
.quote {
    line-height: .75;
}
.quote.hl-y {
    background: #FFEB3B;
}
.quote.hl-g {
    background: #AD4;
}
/* TEST */
#shareasale .tertiary-content .quote img, #coursecatalog .tertiary-content .quote img {
    position: absolute;
    z-index: 1;
    top: -25px;
    left: -18px;
    width: 140px;
    height: 100px;
}
#shareasale .tertiary-content .quote p, #coursecatalog .tertiary-content .quote p {
    font-size: 17px;
    line-height: 1.9;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    position: relative;
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    .post aside,
    .page aside {
        float: right;
        width: 27%;
    }
    .post article,
    .page article,
    .word article {
        float: left;
        width: 75%;
        padding: 0 3%;
    }
    .post article img {
        display:block;
        margin: 0 auto;
    }
}
.poetry {
    white-space: pre-line;
    border-left: 2px solid #ccc;
    padding: 0 15px;
}

/* modal overlay */
.modal.fade.in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5f5f5;
}
.modal.fade.in .close {
  border: none;
  background: none;
  float: right;
  margin: 15px;
  cursor: pointer;
}
/* Symbols content */
{
    content: "☜ ";
    content: "☞ ";
    content: " ";
    content: " ";
    content: " ";
}