<!-- <div class="navbar-brand"><a href="{{ site.baseurl }}/" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"><img src="http://3.bp.blogspot.com/-EP47fQbsFZE/U_x21jy-quI/AAAAAAAAHAo/ba8XTHJl3YU/s1600/ABRAKADABRA%2B1.gif" alt="" width="150"></a></div> -->
<!-- <div class="navbar-brand"><a href="{{ site.baseurl }}/" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">
	<center>
<p>A B R A C A D A B R A<br>
A B R A C A D A B R<br>
A B R A C A D A B<br>
A B R A C A D A<br>
A B R A C A D<br>
A B R A C A<br>
A B R A C<br>
A B R A<br>
A B R<br>
A B<br>
A</p>
</center>
</a></div> -->
<div class="navbar-brand"><a href="{{ site.baseurl }}/" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">ab-ra-ka-dab′ra</a></div>