
<div id="rubrikator" class="flex-container">
    <div class="flex-item hover-block" style="background:hsl(0,0,67%);"><a href=""><span contenteditable="true">посыл</span></a></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,69%);"><span contenteditable="true">кладовка</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,71%)"><span contenteditable="true">Lorem ipsum</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,73%)"><span contenteditable="true">око РА</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,75%)"><span contenteditable="true">Сим-Сим</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,87%)"><span contenteditable="true">Аллах-акбар</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,79%)"><span contenteditable="true">Не масоны мы, не плотники</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,81%)"><span contenteditable="true">Омммммм</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,83%)"><span contenteditable="true">Кровотечение, рвота, понос?</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,85%)"><span contenteditable="true">Уму разуму</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,87%)"><span contenteditable="true">Умом и сообразительностью</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,89%)"><span contenteditable="true">Птичка</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,91%)"><span contenteditable="true">Жили были...</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,93%)"><span contenteditable="true">звёзды</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,95%)"><span contenteditable="true">арифметика</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,97%)"><span contenteditable="true">словарь</span></div>
    <div class="flex-item hover-block" style="background:hsl(0,0,99%)"><span contenteditable="true">кусочки</span></div>
</div>