<!-- NAV-BAR -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-brand">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar-opened close hairline"></span>
    </button>
    <div class="navbar-brand"><a href="{{ site.baseurl }}/" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">ABRACADABRA</a></div>
  </div>
<div class="collapse navbar-collapse" id="navbar-brand">
  <ul class="nav navbar-nav navbar-right">
     {% assign pages_list = site.pages | sort:"url" %}
      {% for node in site.pages %}
        {% if node.title != null %}
          {% if node.title != 'Геометрия' %}
            {% if node.layout == "page" %}
              <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    <li><a href="{{ site.baseurl }}/about" class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">Законы</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Школа&nbsp;<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!-- <li><a href="#" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">&nbsp;•&nbsp;Action</a></li> -->
        <li><a href="{{ site.baseurl }}/geometry" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">&nbsp;•&nbsp;Геометрия</a></li>
        <li><a href="{{ site.baseurl }}/rus" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">&nbsp;•&nbsp;Русский язык</a></li>
        <li class="sidebar-nav-itemdivider"></li>
        <li><a href="{{ site.baseurl }}/obzh" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">&nbsp;•&nbsp;ОБЖ</a></li>
        <li class="divider"></li>
        <li><a href="{{ site.baseurl }}/lit" class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">&nbsp;•&nbsp;Литература</a></li>
      </ul>
    </li>           
  </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<!-- !NAV-BAR -->
</div>