<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  {% include favicons.html %}
  <body class="theme-base-00 layout-reverse sidebar-overlay">
    {% include sidebar.html %}
    <div class="wrap">
        <div class="masthead">
            <div class="container">
                <!-- <h1 class="masthead-title back"></h1> -->
                <!-- <a href="/contact" title="I know u'wanna piece of me, aha.." class="back">{{ page.ephitaphy }}</a> -->
            </div>
        </div>
      <div class="container content section">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>