---
layout: default
---
<!-- <div class="border-top yellow"></div> -->
<div class="post">
  <div class="post-head">
    <p class="masthead-title back">
      {% include nav-back.html back='archive' b-title='Archive' %}
      <small class="post-date">{{ page.date | date_to_string }}</small>
    </p>
    <h1 class="post-title">{{ page.title | upcase }}</h1>
  </div>
  <!-- <span class="post-date">in category <i>{{ page.categories }}</i></span><br/> -->

<!--   <div class="tags">
    {% for tag in page.tags %}
     <li><span class="tag"> {% capture entry %}{{ tag }}{% endcapture %}{{ tag }}</span>
       {{tag}}</li>
    {% endfor %}
  </div> -->
  {{ content }}
</div>

<div class="related">
 <ul class="div related">
    {% for tag in page.tags %}
      <li>
        <details>
          <summary><span><i class="fa fa-tag"></i> {%capture entry%}{{tag}}{%endcapture%}{{tag}}</span></summary>
        <ul>
        {% for post in site.tags[entry] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {%endfor%}
        </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
<!-- 
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul> -->
</div>
