---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title | upcase }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-date">in category <b>{{ page.categories }}</b></span><br/>

<!--   <div class="tags">
    {% for tag in page.tags %}
     <li>
        <span class="tag"> {% capture entry %}{{ tag }}{% endcapture %}{{ tag }}</span>
       {{tag}}
     </li>
    {% endfor %}
  </div> -->

  {{ content }}
</div>

 <ul class="div">
    {% for tag in page.tags %}
      <li>
        <details>
          <summary><span><i class="fa fa-tag"></i> {%capture entry%}{{tag}}{%endcapture%}{{tag}}</span></summary>
        <ul>
        {% for post in site.tags[entry] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {%endfor%}
        </ul>
        </details>
      </li>
    {% endfor %}
  </ul>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
