---
layout: page
title: Школа
type: school
---
<ul>
	<li><a href="art">Искусство</a></li>
	<!-- <li><a href="geometry">Геометрия</a></li> -->
  <!-- <li><a href="psycho">Психология</a></li> -->
  <!-- <li><a href="persons">Люди</a></li> -->
  <li><a href="quote">Слова</a></li>
  <li><a href="religions">Религия</a></li>
	<!-- <li><a href="socio">Общество, человеки, социум</a></li> -->
</ul>

<ul>
{% include category-list.html %}
</ul>
<!-- {% for tag in site.categories %}
  <h3 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h3>
  <ul>
    {% assign pages_list = tag[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %} -->